body {
    padding: 0;
    margin: 0;
}

.header {
    background-image: url("../image/bg.jpg");
    width: 100%;
    height: 500px;
    background-size: cover;
    position: relative;
}

.logo_div {
    width: 350px;
    height: 200px;
    background: #ffffffd6;
    margin: 0 auto;
    border-radius: 0 0 10px 10px;
    text-align: center;
}

.top_logo {
    width: 100px;
    margin-top: 20px;
}

.logo_text {
    padding-left: 20px;
    padding-right: 20px;
}

.input_div input {
    width: 100%;
    height: 30px;
}

.input_div {
    margin-top: 40px;
    text-align: center;
}

.input_div button {
    width: 120px;
    background-color: #00005d;
    color: white;
    border: none;
    margin-top: 10px;
    padding: 0;
    height: 30px;
}

.table {
    text-align: center;
    /*padding-left: 15px;*/
    /*padding-right: 15px;*/
    background: white;
    color: #a0a0a0;
    position: relative;
    width: 80% !important;
    /* left: 10%; */
    /* right: 10%; */
    margin: -2% auto;
    box-shadow: 0 0 10px 0;
    border-radius: 5px;
    z-index: 99;
}

.control-label {
    color: white !important;
}

#table {
    margin: 0 auto;
    background-color: white;
    width: 100%;
    height: 270px;
}

#table th {
    text-align: center;
    border-right: 1px solid #a0a0a0;
    padding-left: 5px;
    padding-right: 5px;
}

#tr1 {
    border-bottom: 1px solid #a0a0a0;
    border-right: 1px solid #a0a0a0;
}

#tr2, #tr4 {
    height: 60px;
    background-color: #efefef;
}

#tr2 td, #tr4 td {
    border-right: 1px solid #a0a0a0;
    border-bottom: 1px solid #a0a0a0;
    padding-left: 5px;
    padding-right: 5px;
}

.body {
    min-height: 400px;
    margin-top: 10%;
    background-image: url("../image/backg-01.svg");
}

.title {
    text-align: center;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 10px;
}

.sub_title {
    font-weight: bold;
    padding-bottom: 10px;
}

.desc {

}

footer {
    height: 60px;
    background-color: #0986b6;
}

.footer_logo {
    width: 45px;
}

.logo_div_footer {
    width: 10%;
    text-align: center;
    background-color: #0494c6;
    height: 100%;
    line-height: 60px;
    display: inline-block;
    float: left;
}

.copyright {
    width: 90%;
    float: left;
    height: 100%;
    color: white;
    text-align: center;
    line-height: 60px;
    margin-bottom: 0;
}

.btn:hover {
    color: #fff !important;
}